<div class="container">
    <div class="row">
      <div class="col-md-5">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <span class="glyphicon glyphicon-comment"></span> Chat
                  
              </div>
              <div class="panel-body max-height: 300px">
                  <ul class="chat" id="chat">
                      <li class="left clearfix">
                          <span class="chat-img pull-left">
            <img src="http://placehold.it/50/55C1E7/fff&text=JS" alt="User Avatar" class="img-circle" />
          </span>
                          <div class="chat-body clearfix">
                              <div class="header">
                                  <strong class="primary-font">Bender</strong> <small class="pull-right text-muted">
                              </div>
                              <p>
                                  ¡Hola!, por favor mándanos tus dudas.
                              </p>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="panel-footer">
                  <form class="input-group" id="message-box">
                      <input id="chat-message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                      <span class="input-group-btn">
                          <input type="submit" value="Enviar" class="btn btn-warning btn-sm" id="btn-chat">
                              
                      </span>
                    </form>
              </div>
          </div>
      </div>
  </div>
</div>